{% extends 'app/layout.html' %}

{% block title %}maiiagareeva{% endblock %}

{% block main_body %}
	<div class="swiper slider">
		<div class="swiper-wrapper">
			<div class="swiper-slide slide">
				<div class="slide_content">
					<table>
						<tr>
							<td>
								<h6>Maiia</h6>
							<td>
								<h3>Gareeva</h3>
							</td>
							<td>
								<div class="arrow"><a href="{% url 'skills' %}"><img src="static/app/img/right-up.png" alt="Alt"></a></div>
							</td>
							<td>
								<h5 style="font-weight: bold;font-size: calc(var(--index) * 0.5);text-transform: uppercase;color: rgb(255 255 255 / .7);letter-spacing: calc(var(--index)*.2);margin-bottom: calc(var(--index) * 1.3);transform: translate(-38%, 100%);color: rgb(254 95 47);">Portfolio</h5>
							</td>
						</tr>
					</table>
					<p>Data Scientist, Software Developer</p>
					<div class="social-icons">
						<a href="https://github.com/maiiagareeva" target="_blank">
							<img src="static/app/img/github_icon.svg" alt="GitHub" class="icon github">
						</a>
						<a href="https://www.linkedin.com/in/maiia-gareeva" target="_blank">
							<img src="static/app/img/linkedin_icon.svg" alt="LinkedIn" class="icon linkedin">
						</a>
					</div>
					<!-- <div class="email">
						<p>maiiagareeva@gmail.com</p>
					</div> -->
				</div>
			</div>

			<div class="swiper-slide slide">
				<div class="slide_content">
					<table>
						<tr>
							<td>
								<h3>Photography</h3>
							</td>
							<td>
								<div class="arrow_photo"><a href="{% url 'photo' %}"><img src="static/app/img/right-up.png" alt="Alt"></a></div>
							</td>
							<td>
								<h5 style="font-weight: bold;font-size: calc(var(--index) * 0.5);text-transform: uppercase;color: rgb(255 255 255 / .7);letter-spacing: calc(var(--index)*.2);margin-bottom: calc(var(--index) * 1.3);transform: translate(-80%, 100%);color: rgb(254 95 47);">works</h5>
							</td>
						</tr>
					</table>
					<p>hobby, passion, design</p>
					<div class="social-icons">
						<a href="https://github.com/maiiagareeva" target="_blank">
							<img src="static/app/img/github_icon.svg" alt="GitHub" class="icon github">
						</a>
						<a href="https://www.linkedin.com/in/maiia-gareeva" target="_blank">
							<img src="static/app/img/linkedin_icon.svg" alt="LinkedIn" class="icon linkedin">
						</a>
					</div>
				</div>
			</div>

			<div class="swiper-slide slide">
				<div class="slide_content">
					<h3>Values</h3>
					{% comment %} <div class="values" data-title="&#9829;1)&#009;A&#013;&#010;2)&#009;B"><h3>Values</h3></div> {% endcomment %}
					<p>rigor, determination, passion, community, growth</p>
					<div class="social-icons">
						<a href="https://github.com/maiiagareeva" target="_blank">
							<img src="static/app/img/github_icon.svg" alt="GitHub" class="icon github">
						</a>
						<a href="https://www.linkedin.com/in/maiia-gareeva" target="_blank">
							<img src="static/app/img/linkedin_icon.svg" alt="LinkedIn" class="icon linkedin">
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="slider-bottom">
			<div class="slider-pagination">
				<div class="swiper-pagination"></div>
			</div>
			<div class="slider-navigation">
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</div>
	</div>
	
{% endblock %}