{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>{% block title %}{% endblock %}</title>

	<script src="{% static 'app/libs/swiper/swiper-bundle.min.js' %}" defer></script>
	<link rel="stylesheet" href="{% static 'app/libs/swiper/swiper-bundle.min.css' %}">
	<link rel="stylesheet" href="{% static 'app/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'app/css/style.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<script src="{% static 'app/js/app.js' %}" defer></script>

</head>
<body>
	<div class="background-image">
		<img src="{% static 'app/img/IMG_7887.jpg' %}" alt="Alt">
	</div>
	<div class="top-line">
		<div class="container container-top">
			<div>
				<div class="logo">
					<img src="{% static 'app/img/logo.jpg' %}" alt="Alt">
				</div>
			</div>
			<div>
				<div class="nickname">
					<a>maiia</a><a>gareeva</a><a>beeinboots</a>
				</div>
			</div>
			<div>
				<ul class="main-mnu">
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'about' %}">About</a></li>
					<!-- <li><a href="{% url 'contact' %}">Contacts</a></li> -->
					<li class="cv-menu">
						<a href="{% static 'app/img/MG_CV_9.15.25.pdf' %}" target="_blank" class="cv-link">PDF Resume</a>
						<a href="{% static 'app/img/MG_CV_9.15.25.pdf' %}" download class="cv-download"><img src="{% static 'app/img/download_icon.svg' %}" alt="Download Resume" class="download-icon"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="main-content">
		<!-- шаблонизатор jinja -->
		{% block main_body %}
		{% endblock %}
  	</div>
	<div class="bottom-line">
		<p>© 2025 BeeInBoots [Nikon Z30]</p>
	</div>
</body>
</html>