{% extends 'app/layout.html' %}

{% block title %}photo.maiiagareeva{% endblock %}

{% block main_body %}
	<div class="photo_container">
		<section class="gallery">

			<div class="frame">
				<div class="frame__content">
					<h2>Beautiful World</h2>
				</div>
			</div>
 			
			<div class="frame">
				<div class="frame__content">
					<div class="frame-media frame-media_left" style="background-image: url(app/templates/app/images/1.jpg)"></div>
				</div>
			</div>

			<div class="frame"></div>

			<div class="frame">
				<div class="frame__content text-right">
					<h3>Image2</h3>
					<p>blablablablablablablablablablablabla</p>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<div class="frame-media frame-media_left" style="background-image: url(app/templates/app/images/2.jpg)"></div>
				</div>
			</div>

			<div class="frame"></div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<div class="frame-media frame-media_right" style="background-image: url(app/templates/app/images/3.jpg)"></div>
				</div>
			</div>

			<div class="frame"></div>

			<div class="frame">
				<div class="frame__content text-left">
					<h3>Image4</h3>
					<p>blablablablablablablablablablablabla</p>
				</div>
			</div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<div class="frame-media frame-media_right" style="background-image: url(app/templates/app/images/4.jpg)"></div>
				</div>
			</div>

			<div class="frame"></div>
			<div class="frame"></div>

			<div class="frame frame_bg">
				<div class="frame__content">
					<div class="frame-media frame-media_right" style="background-image: url(app/templates/app/images/5.jpg)"></div>
				</div>
			</div>

			<div class="frame"></div>
			<div class="frame"></div>

			<div class="frame">
				<div class="frame__content">© BeeInBoots</div>
			</div>

		</section>
	</div>





{% endblock %}